
@font-face {
    font-family: 'silkscreennormal';
    src: url('../fonts/slkscr-webfont.eot');
    src: url('../fonts/slkscr-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/slkscr-webfont.woff') format('woff'),
    url('../fonts/slkscr-webfont.ttf') format('truetype'),
    url('../fonts/slkscr-webfont.svg#silkscreennormal') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'silkscreenbold';
    src: url('../fonts/slkscrb-webfont.eot');
    src: url('../fonts/slkscrb-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/slkscrb-webfont.woff') format('woff'),
    url('../fonts/slkscrb-webfont.ttf') format('truetype'),
    url('../fonts/slkscrb-webfont.svg#silkscreenbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'silkscreen_expandednormal';
    src: url('../fonts/slkscre-webfont.eot');
    src: url('../fonts/slkscre-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/slkscre-webfont.woff') format('woff'),
    url('../fonts/slkscre-webfont.ttf') format('truetype'),
    url('../fonts/slkscre-webfont.svg#silkscreen_expandednormal') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'silkscreen_expandedbold';
    src: url('../fonts/slkscreb-webfont.eot');
    src: url('../fonts/slkscreb-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/slkscreb-webfont.woff') format('woff'),
    url('../fonts/slkscreb-webfont.ttf') format('truetype'),
    url('../fonts/slkscreb-webfont.svg#silkscreen_expandedbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'alterebro';
    src: url('../fonts/alterebro-pixel-font.eot');
    src: url('../fonts/alterebro-pixel-font.eot?#iefix') format('embedded-opentype'),
    url('../fonts/alterebro-pixel-font.woff') format('woff'),
    url('../fonts/alterebro-pixel-font.ttf') format('truetype'),
    url('../fonts/alterebro-pixel-font.svg#alterebro') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*
 *  Global Styles
 ----------------------------------------*/
#body {
    padding-top: 54px;
    padding-bottom: 30px;
    background: #232323;
    font-family: 'Roboto', sans-serif;
}

#user_body {
    padding-top: 20px;
    padding-bottom: 30px;
    background: #232323;
    font-family: 'Roboto', sans-serif;
}

h4 {
    font-family: 'Roboto Condensed', sans-serif;
    color:#686868;
}

img {
	max-width: 100%;
}

/*
 *  Nav
 ----------------------------------------*/
.navbar-warroom {
    background: url("../img/stripe.png");
    margin:0;
    font-family: 'Roboto Condensed', sans-serif;
}
.navbar-brand {
    padding-top:12px;
}

.nav-tabs {
    border-radius: 0;
    border-bottom: none;
}

.nav-tabs > li {
    float: left;
    margin-bottom: -1px;
    margin-top:-1px;
}

.nav-tabs > li > a {
    text-shadow: none;
    margin-right: 2px;
    line-height: 1.428571429;
    border-radius: 0;
    color: #c08818;
    background: transparent;
}

.nav-tabs > li > a:hover {
    color: #fcaf17;
    border: 1px solid #1c1c1c;
    background: #1c1c1c;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    color: #fcaf17;
    border: 1px solid #1c1c1c;
    background: #1c1c1c;
}

/*
 *  War Room
 ----------------------------------------*/

#recent_ops_container {
    margin-top:25px;
    font-family: 'Roboto Condensed', san-serif;
	color: #fcaf17;
    font-size:12px;
    line-height: 10px;
	max-height:220px;
		background: transparent;
	background-color: rgba(1, 1, 1, 0.75);
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 25px;
}

#overview_container {
    margin-top:20px;
    margin-right:30px;
}

table.overview-table {
    margin-top:25px;
    font-family: 'Roboto Condensed', san-serif;
	color: #fcaf17;
    font-size:12px;
    line-height: 13px;
		background: transparent;
	background-color: rgba(1, 1, 1, 0.75);
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 25px;
}

#t1operators_container {
    max-height:600px;
    margin-top:25px;
	background: transparent;
	background-color: rgba(1, 1, 1, 0.75);
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 25px;
    font-family: 'Roboto Condensed', san-serif;
    font-size:12px;
    line-height: 13px;
	color: #fcaf17;

}

#live_feed_container {
    max-height:600px;
    margin-top:25px;
    font-family: 'Roboto Condensed', san-serif;
    font-size:12px;
    line-height: 13px;
	color:#CCC;
		background: transparent;
	background-color: rgba(1, 1, 1, 0.75);
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 25px;
}

#live_feed_container .operation {
    color: #fcaf17;
}

#live_feed_container .highlight {
    color: #926c20;
}

#live_feed_container .highlight2 {
    color: #cea24c;
}

#live_feed_container .highlight3 {
    color: #0d233a;
}

.stats-container {
    padding: 10px;
    color: inherit;
    background-color: #eee;
}

.stats-panel {
    color:#686868;
    background: #232323;
    margin-bottom: 0;
    min-height: 900px;
    max-height: 910px;
}

#tempo_chart {
    height:500px;
}


/*
 *  Panel Sections
 ----------------------------------------*/
.alive-background-panel {
    font-family: 'Roboto Condensed', sans-serif;
    background: url("../img/background.jpg") repeat-x;
    margin-bottom:0;
}
.alive-background-panel p {
    margin-top: 10px;
    color:#ffffff;
    font-size:14px;
    line-height: 1.7;
}

/* -----------------------------*/

.globalmap-panel {
	background: url("../img/map_background.png");
	background-size: auto;
	margin-bottom: 0;
	color: #98b0d7;
	background-repeat: repeat-x;
	min-height: 900px;
	max-height: 910px;
}
.globalmap-panel h2{
    font-weight:900;
	font-family: "MorganSansCond Caps";
}
.globalmap-panel p {
    font-size:10px;
    font-weight:400;
}
.globalmap-panel p {
}
.globalmap-panel hr {
    border: none;
    height: 1px;
    margin:10px 0 10px 0;
    color: #1f355a;
    background-color: #1f355a;
}
.stats-container table {

}
.stats-container table thead th {
    font-family: 'Roboto Condensed', san-serif;
    font-size:12px;
    line-height: 13px;
    padding-top: 20px;
    border-bottom: none;
}
.stats-container table tbody td {
    font-family: 'Roboto Condensed', san-serif;
    font-size:12px;
    line-height: 13px;
    padding-top: 20px;
    border-top:1px solid #1f355a;
    padding:10px;
}
.stats-container table tbody tr.success td {
}
.stats-container table tbody td a {
    margin-top: -10px;
}
.table-container h2 {
    font-family: 'Roboto Condensed', san-serif;
    font-size:16px;
    color: #fcaf17;
}
.table-container table {
    font-family: 'Roboto Condensed', san-serif;
    font-size:14px;
    line-height: 13px;
    border-top:1px solid #5f4c26;
}
.table-container table tr {
    border:none;
}
.table-container table thead th {
    background: #666666;
    color: #fcaf17;
    background: url("../img/stripe.png");
    border-bottom:1px solid #5f4c26;

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe8e8e8',endColorstr='#fff5f5f5',GradientType=0);
    -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.05),0 1px 0 rgba(255,255,255,0.1);
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.05),0 1px 0 rgba(255,255,255,0.1);
}
.table-container table tbody td {
    padding-top: 20px;
    border-bottom:1px solid #5f4c26;
    color: #b17c14;
    padding:10px;
}
.table-container table tbody tr.success td {
}
.table-container table tbody td a {
    margin-top: -10px;
}

/* -----------------------------*/
.white-panel {
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    background: #fff;
    margin-bottom:0;
}
.white-panel h2{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight:900;
}
.white-panel p {
    color:#000;
    font-size:10px;
    font-weight:400;
}
.white-panel table {
    color:#000;
    font-size:14px;
    font-weight:400;
}
.white-panel table tbody td {
    padding-top: 20px;
}
.white-panel table tbody tr.success td {
    background: #ebf4f6;
}
.white-panel table tbody td a {
    margin-top: -10px;
}
.white-panel p {
    color:#3b3b3b;
    font-size:14px;
}
.white-panel hr {
    border:1px solid #eeeeee;
}

/* -----------------------------*/
.light-blue-panel {
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    background: #CEDADD;
    margin-bottom:0;
}
.light-blue-panel h2{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight:900;
}
.light-blue-panel p {
    color:#000;
    font-size:14px;
    font-weight:400;
}

/* -----------------------------*/
.mid-grey-panel {
    border-top: 1px solid #336976;
    border-bottom: 1px solid #336976;
    background: #7b8488;
    margin-bottom:0;
    font-weight:400;
}
.mid-grey-panel h2{
    font-family: 'Roboto Condensed', sans-serif;
    color: #111d23;
    font-weight:900;
}
.mid-grey-panel p {
    color:#191e21;
    font-size:14px;
}

/* -----------------------------*/
.dark-panel {
    background: url("../img/stripe.png");
    margin-bottom:0;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}
.dark-panel h2{
    font-family: 'Roboto Condensed', sans-serif;
    color:#fff;
    font-weight:900;
}
.dark-panel p {
    color:#fff;
    font-size:14px;
}

/* -----------------------------*/
.black-panel {
    background: #000;
    margin-bottom:0;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

/* -----------------------------*/
.blue-panel {
    background: #23262b;
}

/* -----------------------------*/
.dark2-panel {
    color:#686868;
    background: #232323;
    margin-bottom:0;
}
.dark2-panel h4 {
    font-family: 'Roboto Condensed', sans-serif;
    color:#686868;
}
.dark2-panel p {
    font-size:12px;
}
.dark2-panel a {
    color:#939393;
}


/* -----------------------------*/
.grey-panel {
    background: #e2e2e2;
    margin-bottom:0;
    font-weight:400;
}
.grey-panel h2{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight:900;
}
.grey-panel p {
    color:#3b3b3b;
    font-size:14px;
}
.grey-panel hr {
    border:1px solid #c2c2c2;
}

/* -----------------------------*/
.admin-panel {
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    background: #fff;
    margin-bottom:0;
}
.admin-panel h2{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight:400;
}
.admin-panel p {
    color:#000;
    font-size:12px;
    font-weight:400;
}
.admin-panel table {
    color:#000;
    font-size:14px;
    font-weight:400;
}
.admin-panel table thead th {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: normal;
    font-size:16px;
    border:none;
}
.admin-panel table tbody td {
    padding-top: 15px;
}
.admin-panel table tbody tr.success td {
    background: #ebf4f6;
}
.admin-panel table tbody td a {
}
.admin-panel table tbody td button {
    margin-top: -6px;
}
.admin-panel hr {
    border:1px solid #eeeeee;
}
.admin-panel .table-hover>tbody>tr:hover>td {
    background: #f2f9ff;
}

/*
 *  Random modifiers
 ----------------------------------------*/

.blue-border {
    border: 1px solid #2d474f;
}
.light-blue-border {
    border: 1px solid #558895;
}
.dark-border {
    border: 1px solid #131313;
}
.dark-list {
    font-size:12px;
}
.dark-list li {
}
.dark-list li i {
    padding-top:4px;
}
.top-margin { 
    margin-top:10px; 
}

/*
 *  Panel Structures
 ----------------------------------------*/

.panel-dark {
    border-color:#222222;
    background:#404040;
}
.panel-dark > .panel-heading {
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#3a3a3a), to(#232323));
    background-image: -webkit-linear-gradient(top, #3a3a3a 0%, #232323 100%);
    background-image: -moz-linear-gradient(top, #3a3a3a 0%, #232323 100%);
    background-image: linear-gradient(to bottom, #3a3a3a 0%, #232323 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3a3a3a', endColorstr='#ff232323', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.panel-dark .panel-title {
    font-family: 'Roboto Condensed', sans-serif;
    color: #ccc;
}
.panel-dark .panel-body {
    color: #ccc;
}

.panel-dark .panel-body p {
     font-family: 'Roboto Condensed', sans-serif;
     color: #ccc;
}

.panel-dark .panel-footer {
    border-top: 1px solid #000000;
    background: #515151;
}

/* -----------------------------*/

.panel-blue {
    border-color: #b6c7cb;
    background:#dfe9eb;
}
.panel-blue > .panel-heading {
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#e0edf0), to(#b6c7cb));
    background-image: -webkit-linear-gradient(top, #e0edf0 0%, #b6c7cb 100%);
    background-image: -moz-linear-gradient(top, #e0edf0 0%, #b6c7cb 100%);
    background-image: linear-gradient(to bottom, #e0edf0 0%, #b6c7cb 100%);
    background-repeat: repeat-x;
    border-color:#b6c7cb;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe0edf0', endColorstr='#b6c7cb', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.panel-blue .panel-title {
    font-family: 'Roboto Condensed', sans-serif;
    color:#333333;
}
.panel-blue .panel-body {
    color:#333333;
}

/*
 *  Buttons
 ----------------------------------------*/

.btn-primary {
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#5c95a2), to(#2d474f));
    background-image: -webkit-linear-gradient(top, #5c95a2 0%, #2d474f 100%);
    background-image: -moz-linear-gradient(top, #5c95a2 0%, #2d474f 100%);
    background-image: linear-gradient(to bottom, #5c95a2 0%, #2d474f 100%);
    background-repeat: repeat-x;
    border-color: #2d474f;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5c95a2', endColorstr='#2d474f', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-primary:hover,
.btn-primary:focus {
    background-color: #2d474f;
    background-position: 0 -15px;
}
.btn-primary:active,
.btn-primary.active {
    background-color: #2d474f;
    border-color: #2d474f;
}

/* -----------------------------*/

.btn-dark {
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#393939), to(#131313));
    background-image: -webkit-linear-gradient(top, #393939 0%, #131313 100%);
    background-image: -moz-linear-gradient(top, #393939 0%, #131313 100%);
    background-image: linear-gradient(to bottom, #393939 0%, #131313 100%);
    background-repeat: repeat-x;
    border-color: #000;
    color: #929292;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5c95a2', endColorstr='#ff131313', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-dark:hover,
.btn-dark:focus {
    background-color: #131313;
    color:#fff;
    background-position: 0 -15px;
}
.btn-dark:active,
.btn-dark.active {
    background-color: #393939;
    border-color: #000;
}

/* -----------------------------*/

.btn-yellow {
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#fcaf17), to(#b17d17));
    background-image: -webkit-linear-gradient(top, #fcaf17 0%, #b17d17 100%);
    background-image: -moz-linear-gradient(top, #fcaf17 0%, #b17d17 100%);
    background-image: linear-gradient(to bottom, #fcaf17 0%, #b17d17 100%);
    background-repeat: repeat-x;
    border-color: #5d4a24;
    color: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcaf17', endColorstr='#ffb17d17', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-yellow:hover,
.btn-yellow:focus {
    background-color: #b17d17;
    color:#fff;
    background-position: 0 -15px;
}
.btn-yellow:active,
.btn-yellow.active {
    background-color: #b17d17;
    border-color: #5d4a24;
}

/* -----------------------------*/

.btn-red {
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#b9604c), to(#b14843));
    background-image: -webkit-linear-gradient(top, #b9604c 0%, #b14843 100%);
    background-image: -moz-linear-gradient(top, #b9604c 0%, #b14843 100%);
    background-image: linear-gradient(to bottom, #b9604c 0%, #b14843 100%);
    background-repeat: repeat-x;
    border-color: #5d1928;
    color: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffb9604c', endColorstr='#ffb14843', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-red:hover,
.btn-red:focus {
    background-color: #b14843;
    color:#fff;
    background-position: 0 -15px;
}
.btn-red:active,
.btn-red.active {
    background-color: #b14843;
    border-color: #5d1928;
}

/*
 *  Responsive video embed
 ----------------------------------------*/

.flex-video {
    position: relative;
    padding-top: 25px;
    padding-bottom: 67.5%;
    height: 0;
    margin-bottom: 16px;
    overflow: hidden;
}
.flex-video.widescreen { padding-bottom: 57.25%; }
.flex-video iframe,
.flex-video object,
.flex-video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
@media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px), only screen and (max-width: 767px) {
    .flex-video { padding-top: 0; }
}

/*
 *  Modal
 ----------------------------------------*/

.modal-backdrop {
    background-color: #000000;
}
.modal-content {
    border-color:#222222;
    background:#404040;
}
.modal-header {
    font-size:1em;
    padding:8px;
    padding-left:12px;
    border-bottom:none;
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#3a3a3a), to(#232323));
    background-image: -webkit-linear-gradient(top, #3a3a3a 0%, #232323 100%);
    background-image: -moz-linear-gradient(top, #3a3a3a 0%, #232323 100%);
    background-image: linear-gradient(to bottom, #3a3a3a 0%, #232323 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3a3a3a', endColorstr='#ff232323', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.modal-title {
    font-family: 'Roboto Condensed', sans-serif;
    color: #ccc;
}
.modal-body {
    color: #ccc;
}
.modal-body p {
    font-family: 'Roboto Condensed', sans-serif;
    color: #ccc;
}
.modal-footer {
    padding:10px;
    border-top: 1px solid #000000;
    background: #515151;
}

/*
 *  Modal
 ----------------------------------------*/

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
    font-family: 'Roboto Condensed', san-serif;
    font-size:12px;
    z-index: 2;
    color: #000;
    cursor: default;
    background-color: #fcaf17;
    border-color: #fcaf17;
}

.pagination>li>a, .pagination>li>span {
    font-family: 'Roboto Condensed', san-serif;
    font-size:12px;
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.428571429;
    text-decoration: none;
    background-color: #000;
    border: 1px solid #000;
}

.pagination>.disabled>span, .pagination>.disabled>span:hover, .pagination>.disabled>span:focus, .pagination>.disabled>a, .pagination>.disabled>a:hover, .pagination>.disabled>a:focus {
    font-family: 'Roboto Condensed', san-serif;
    font-size:12px;
    color: #999;
    cursor: not-allowed;
    background-color: #000;
    border-color: #000;
}

.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus {
    font-family: 'Roboto Condensed', san-serif;
    font-size:12px;
    color: #000;
    background-color: #fcaf17;
    border-color: #fcaf17;
}

/*
 *  Form
 ----------------------------------------*/

.form-holder {
    padding-top:20px;
}
form label {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight:normal;
}
form .form-control {
    background: #666666;
    color: #000;
    border: 1px solid #2f2f2f;

    border:#000;
    color: #000;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe8e8e8',endColorstr='#fff5f5f5',GradientType=0);
    -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.05),0 1px 0 rgba(255,255,255,0.1);
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.05),0 1px 0 rgba(255,255,255,0.1);
}
form .form-control input {
    background: #666666;
}
form .form-control[disabled],
form .form-control[readonly],
form fieldset[disabled] {
    background: #4b4b4b;
    color: #000;
    border: 1px solid #3d3d3d;
}
.panel-body span.label {
    text-align:left;
    display:block;
    margin-top:-3px;
    font-weight:normal;
    font-size: 12px;
    padding: 4px 15px 4px 15px;
    border-radius:0;
}
form table thead th {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight:normal;
    background: #666666;
    color: #000;

    background: url("../img/stripe.png");
    color:#ccc;
    font-family: 'Roboto Condensed', sans-serif;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe8e8e8',endColorstr='#fff5f5f5',GradientType=0);
    -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.05),0 1px 0 rgba(255,255,255,0.1);
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.05),0 1px 0 rgba(255,255,255,0.1);
}
form .table thead tr th {
    border-bottom:none;
}
form .table thead tr {
    border-bottom:none;
}
form .table>thead>tr>th, form .table>tbody>tr>th, form .table>tfoot>tr>th, form .table>thead>tr>td, form .table>tbody>tr>td, form .table>tfoot>tr>td {
    padding: 8px;
    line-height: 1.428571429;
    vertical-align: top;
    border-top: none;
}
form form .table>tbody>tr>th, form .table>tfoot>tr>th, form .table>tbody>tr>td, form .table>tfoot>tr>td {
    border-bottom:1px solid #656565;
}

form.light input.form-control {
    background: #fff;
    border: 1px solid #ccc;
}
form .badge {
    margin-left:5px;
    background:#232323;
}

/*
 *  Alert
 ----------------------------------------*/

.alert-success {
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#dff0d8), to(#c8e5bc));
    background-image: -webkit-linear-gradient(top, #dff0d8 0%, #c8e5bc 100%);
    background-image: -moz-linear-gradient(top, #dff0d8 0%, #c8e5bc 100%);
    background-image: linear-gradient(to bottom, #dff0d8 0%, #c8e5bc 100%);
    background-repeat: repeat-x;
    border-color: #b2dba1;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdff0d8', endColorstr='#ffc8e5bc', GradientType=0);
}

.alert-info {
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#d9edf7), to(#b9def0));
    background-image: -webkit-linear-gradient(top, #d9edf7 0%, #b9def0 100%);
    background-image: -moz-linear-gradient(top, #d9edf7 0%, #b9def0 100%);
    background-image: linear-gradient(to bottom, #d9edf7 0%, #b9def0 100%);
    background-repeat: repeat-x;
    border-color: #9acfea;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9edf7', endColorstr='#ffb9def0', GradientType=0);
}

.alert-warning {
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#fcf8e3), to(#f8efc0));
    background-image: -webkit-linear-gradient(top, #fcf8e3 0%, #f8efc0 100%);
    background-image: -moz-linear-gradient(top, #fcf8e3 0%, #f8efc0 100%);
    background-image: linear-gradient(to bottom, #fcf8e3 0%, #f8efc0 100%);
    background-repeat: repeat-x;
    border-color: #f5e79e;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcf8e3', endColorstr='#fff8efc0', GradientType=0);
}

.alert-danger {
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#f2dede), to(#e7c3c3));
    background-image: -webkit-linear-gradient(top, #f2dede 0%, #e7c3c3 100%);
    background-image: -moz-linear-gradient(top, #f2dede 0%, #e7c3c3 100%);
    background-image: linear-gradient(to bottom, #f2dede 0%, #e7c3c3 100%);
    background-repeat: repeat-x;
    border-color: #dca7a7;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2dede', endColorstr='#ffe7c3c3', GradientType=0);
}

/*
 *  Custom modifiers
 ----------------------------------------*/

.panel-dark .avatars {
    margin-left:14px;
    margin-right:14px;
}

.panel-dark table {
    font-family: 'Roboto Condensed', sans-serif;
}

.panel-dark .well {
    padding:9px;
    background: url("../img/stripe.png");
    border:#000;
    font-family: 'Roboto Condensed', sans-serif;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe8e8e8',endColorstr='#fff5f5f5',GradientType=0);
    -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.05),0 1px 0 rgba(255,255,255,0.1);
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.05),0 1px 0 rgba(255,255,255,0.1);
}

.panel-dark .strip {
    padding:9px;
    background: url("../img/stripe.png");
    border:#000;
    color:#9f9f9f;
    margin-bottom:10px;
    font-family: 'Roboto Condensed', sans-serif;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe8e8e8',endColorstr='#fff5f5f5',GradientType=0);
    -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.05),0 1px 0 rgba(255,255,255,0.1);
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.05),0 1px 0 rgba(255,255,255,0.1);
}

.panel-dark .strip p {
    color:#9f9f9f;
    padding-top:10px;
    padding-left:5px;
}

.panel-dark .strip .table a.btn {
    margin-top:-3px;
}

.badge {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight:normal;
    cursor:pointer;
}

.table td img {
    margin-top:-8px;
}

.table-condensed {
    padding:0px;
    margin:0px;
}

.table-condensed tbody tr {
    padding:0px;
    margin:0px;
}

.table-condensed tbody tr td {
    padding:0px;
    margin:0px;
}